[defaults]
inventory = inventory.yml
host_key_checking = false
gathering = explicit
command_warnings = false
retry_files_enabled = false
jinja2_extensions = jinja2.ext.loopcontrols,jinja2.ext.do,jinja2.ext.i18n
stdout_callback = yaml

[persistent_connection]
connect_timeout = 120
command_timeout = 120
